.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  border: 4px solid black;
  width: 100%;
  height: 100px;
  background-color: skyblue;
  top: 50%;
}

.inlineTime {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: gray;
}

.activeHr {
  background: linear-gradient(to left, #ffc0cb 50%, #87ceeb 50%);
  border: 4px solid black;
  width: 100%;
  height: 100px;
  top: 50%;
}

.pastHr {
  background: pink;
  border: 4px solid black;
  width: 100%;
  height: 100px;
  top: 50%;
}
